<div>
    <nav-var>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="email" placeholder="e-mail" aria-label="">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="">
            <a class="btn btn-dark my-2 my-sm-0" [routerLink]="['/mockingbird/parentSession']">Log In</a>
        </form>
    </nav-var>
    <div class="d-flex flex-row">
        <div class="first-row">
            <img class="img-style" src="assets/teenagers.jpg" alt="">
        </div>
        <div>
            <h1 class="m-4">¡SIGN UP!</h1>
            <form>
                <div class="form-inline">
                    <input class="form-control mr-sm-2 m-2" type="text" placeholder="First Name" aria-label="">
                    <input class="form-control mr-sm-2 m-2" type="text" placeholder="Last Name" aria-label="">
                </div>
                <input class="form-control mr-sm-2 m-2" type="email" placeholder="e-mail" aria-label="">
                <input class="form-control mr-sm-2 m-2" type="password" placeholder="Password" aria-label="">
                <button class="btn btn-dark my-2 my-sm-0 m-2">SIGN UP</button>
            </form>
        </div>
    </div>
</div>