<div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">PERSONALITY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">EMOTIONS</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br><br>
                        <div class="col-13">
                            <h4 class="m-4">Here’s Everything You need to Know About the INTP Child</h4>
                            <br><br>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                They Are Fiercely Independent</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">Even from a young age INTPs are very independent people,
                                            who prefer being on their own most of the time. They can become
                                            short-tempered without realizing why, simply because they aren’t getting the
                                            alone time they truly need. Their sense of independence and need to be by
                                            themselves, is something that can be misunderstood when they are children.
                                            Some might believe that the INTP child is a “loner” and see this as a
                                            negative thing. To them it appears like the INTP is angry or upset, when
                                            they truly just need time to themselves.

                                            They are overly expressive even as children, and combining this with their
                                            desire to have their own space, often leads to feeling misunderstood. As
                                            children they don’t really understand this themselves, which makes it
                                            difficult, even impossible, for the INTP to explain their needs to their
                                            family. They also want to please their parents, but being able to do this is
                                            challenging for them. They might please them by doing well in school,
                                            especially if the INTP thinks this will get them off of their backs. They
                                            simply need room to grow and learn, without feeling constantly smothered.
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                They Need to Explore Their Creative Sides</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">While INTPs are seen as logical, from a young age they are also very creative people. When they are children they often need to be free to explore their imagination and sense of creativity. This is something that should definitely be fostered and nurtured when they are children, for the sake of the INTPs own happiness. They have rich inner minds, which need to be explored even from a young age. During these formidable years the INTP child should be able to dive into their own inner imaginations, with a sense of openness and freedom. They can often focus on learning and logic more than anything else, but their creative side is a big part of who they are. For the INTP to grow into the person that they are meant to become, they need to explore their logical thoughts, as well as their imaginative ones.  </div>
                                </div>
                                <hr>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                They Care Much More Than People Realize</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                While INTPs are not expressive, they are deeply caring about their loved ones. The parents of the INTP child can sometimes feel like they don’t truly care about them or appreciate them. They simply have a hard time expressing their emotions even from a young age, and rarely appear open or warm. While the INTP child might not be verbal about their inner feelings, they still experience them on a deep level. They have a difficult time opening up, but they often think about their parents and care about them. They just struggle to really open up, and sometimes they struggle to understand their emotions.

                                                Sometimes this means the INTP child needs to hear they are loved more than they express. It might seem like they don’t want to hear these things, but in truth they might even need to hear it more. They simply have a hard time reading emotions, and need to see them in a somewhat obvious way. While the INTP does enjoy knowing that they are loved, they need plenty of space at the same time.</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            The Struggles of the INTP Child</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">INTPs children experience their own set of challenges, ones that mold and shape them as they grow up. INTPs children can often feel different and often misunderstood. They might struggle to fit in, feeling like they don’t really connect readily with most others. The INTP child might learn how to blend in, but they rarely feel truly connected to most people. They simply have a different way of approaching things, and this makes them feel distant from most of the world.

                                            The INTP child has a powerful and rich inner mind, thick with imagination and creativity. They can spend hours daydreaming and coming up with new ideas, which can sometimes alienate them. This is something that parents and teachers can misunderstood, presuming that the INTP child is either lazy or unfocused. In truth they are intelligent children, who can actually become bored by most of their academic leaders. They need more stimulation than most school can really offer them, and often understand the material and find themselves lacking interest in it. The INTP child enjoys challenges and information that actually makes them think and explore new possibilities. Their complex inner minds can definitely cause them to be misunderstood as children, especially if people write them off.
                                            
                                            The INTP child’s desire for time alone can also cause them to be seen as loners, when in truth they just need to recharge. They enjoy being around their friends and family, but they also need time to daydream and process information. The INTP child might need less time alone than they do as adults, but they still require their own space. If they are smothered the INTP child might act out in some ways, without really meaning to. Following rules doesn’t come naturally for them, so it can be challenging for the INTP to remain disciplined.</div>
                                </div>
                            </div>
                        </div> <br><br>
                        


                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="col-13">

                        <h1 class="m-4">EMOTIONS</h1>
                        <hr>
                        <img src="assets/img/faces.png" style="width: 50%" >
                                                <hr>
                        <h5 class="m-4">SLPEEPY HRS</h5>
                        <hr>

                        <h5 class="m-4">Happiness :89%</h5>
                        <hr>

                        <h5 class="m-4">Sadness : 35%</h5>
                        <hr>

                        <h5 class="m-4">Other : 10%</h5>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </div>